{{#partial "styles"}}
<!--    <link rel="stylesheet" href="css/success2.css">-->
{{/partial}}
{{#partial "content"}}
    <h1>Success!</h1>
    Your hero has been added.<br>
    <a href="/"><button class="btn btn-success">See your Hero</button></a>
<!--    <p><a href="/success2.hbs"><button class="btn btn-danger">View Squad</button></a> </p>-->
{{/partial}}
{{>layout.hbs}}