{{#partial "content"}}
    <h1>Your Squad</h1>
    <p>Add a new Squad</p>
    <form action="/squads/list" method="POST" class="form-group">

        <label for="squadName">Squad Name</label>
        <input id="squadName" type="text" name ="squadName" class="form-control">

        <label for="squadNumber">Maximum Squad Members</label>
        <input id="squadNumber" type="text" name="squadNumber" class="form-control">

        <label for="Purpose">Purpose of Squad</label>
        <input id="squadPurpose" type="text" name="squadPurpose" class="form-control">
        <br>

        <button type="submit" class="btn btn-success">Create Squad</button>
    </form>

{{/partial}}
{{>layout.hbs}}