{{#partial "content"}}
    {{#if editHero}}
        <h1>Edit Hero characteristics</h1>
        <form action="/heros/{{editHero.id}}/update" method="post" class="form-group">
            <label for ="name"></label>
            <input id ="name" name="name" type="text" class="form-control">
            <label for ="age">Hero Age</label>
            <input id="age" name="age" type="text" class="form-control">
            <label for="strength">Hero's strength</label>
            <input type="text" name="strength" id="strength" class="form-control">
            <label for ="weakness">Heros Weakness</label>
            <input type="text" id="weakness" name="weakness" class="form-control">
    {{else}}
            <h1>Add a new Hero</h1>

        <form action ="/heros/new" method="post" class="form-group">
            <label for="name">Hero's Name</label>
            <input type="text" id="name" name="name" class="form-control">
            <label for="age">Hero's Age</label>
            <input type="text" id="age" name="age" class="form-control">
            <label for ="strength">Hero's strength</label>
            <input type="text" id="strength" name="strength" class="form-control">
            <label for="weakness">Weakness</label>
            <input type="text" id="weakness" name="weakness" class="form-control"><br>
    {{/if}}
        <button class="btn btn-danger" type="submit">Create</button>

    </form>

{{/partial}}

{{>layout.hbs}}